<div class='container px-5 px-sm-0'>
  <div class='row d-flex flex-column'>
    <h2>Follow Users</h2>
    <div class="followings"><%= render "relationships/followings", users: @users %></div>
  </div>
</div>